.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    box-shadow:inset 0px -3px 0 0 rgba(0,0,0,0.12);
    &:hover{
        background-color: $b-hover;
    }
    &:active{
        -webkit-box-shadow:inset 3px 3px rgba(0,0,0,0.32);
        box-shadow:inset 3px 3px rgba(0,0,0,0.32);
    }
    &_promo{
        width: 300px;
        height: 50px;
        font-size: 16px;
        box-shadow:inset 0px -5px 0 0 rgba(0,0,0,0.12);
        &:active{
            -webkit-box-shadow:inset 4px 4px rgba(0,0,0,0.32);
            box-shadow:inset 4px 4px rgba(0,0,0,0.32);
        }
    }
    &_header{
        width: 150px;
        height: 30px; 
    }
}