.promo{
    min-height: 722px;
    padding: 21px 0 93px 0;
    background: url(../img/promo_bg.jpg) center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header{
        font-size: 42px;
        font-weight: 700;
        text-align: right;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__subheader{
        font-size: 24px;
        font-weight: 500;
        text-align: right;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__icons{
        margin-top: 65px;
        width: 450px;
        display: flex;
        justify-content: space-around;
    }
    &__icon{
        width: 108px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__button{
        margin-top: 67px;
    }
    &__link{
        margin-top: 18px;
        text-align: right;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        a{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 18px;
            &:hover{
                color: $main;
            }
            &:link{
                color: #ffffff;
            }
        }
    }
}