@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-500.ttf');
	src: local('MuseoSansCyrl-500'),
		url('MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-300Italic.ttf');
	src: local('MuseoSansCyrl-300Italic'),
		url('MuseoSansCyrl-300Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-500Italic.ttf');
	src: local('MuseoSansCyrl-500Italic'),
		url('MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-900.ttf');
	src: local('MuseoSansCyrl-900'),
		url('MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-700.ttf');
	src: local('MuseoSansCyrl-700'),
		url('MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-700Italic.ttf');
	src: local('MuseoSansCyrl-700Italic'),
		url('MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-300.ttf');
	src: local('MuseoSansCyrl-300'),
		url('MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-100.ttf');
	src: local('MuseoSansCyrl-100'),
		url('MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-100Italic.ttf');
	src: local('MuseoSansCyrl-100Italic'),
		url('MuseoSansCyrl-100Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-900Italic.ttf');
	src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
		url('MuseoSansCyrl-900Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
